[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
pylint = "*"

[packages]
django = "*"
psycopg2-binary = "*"
celery = "*"
django-celery-results = "*"
scikit-optimize = "*"
cx-oracle = "*"
sphinx = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = "*"

[requires]
python_version = "3.6"
